<!DOCTYPE html>
<html>

<head>
{% block head %}
    <title>Page Processor</title>
{% endblock head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<style>
    a {
        text-decoration:none;
        color:blue;
    }
</style>
{% block nav %}
<navbar style="height:60px">
    {% if back_url %}
        <button onclick="back()" style="font-size:x-large; text-decoration:none; display:inline-block; margin-right:20px"><p>←</p></button>
    {% endif %}
    <p id="status_text" style="display:inline-block"></p>
</navbar>
{% endblock nav %}

{% block page %}
{% endblock page %}

{% block scripts %}
{% endblock scripts %}

</body>
</html>