<!DOCTYPE html>
<html>

<head>
{% block head %}
    <title>Page Processor</title>
{% endblock head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

{% block nav %}
<navbar style="height:60px">
    {% if back_url %}
        <a href="{{ back_url }}" style="font-size:xx-large; text-decoration:none; display:inline-block; margin-right:20px">←</a>
    {% endif %}
    <p id="status_text" style="display:inline-block"></p>
</navbar>
{% endblock nav %}

{% block page %}
{% endblock page %}

{% block scripts %}
{% endblock scripts %}

</body>
</html>