{% extends "base.html" %}

{% block page %}
<div style="margin:10px">
    <div style="margin-bottom:30px">
        <div id="status_box">
            <h2>Main buckets</h2>
        </div>
    </div>

    <div>
        <form id="bk_create">
            <h3>Create Bucket</h3>
            <label for="bk_name">Name</label>
            <input id="bk_name" type="text"/>
            <button type="submit">Create</button>
        </form>
        <p id="msg" style="color:red"></p>
    </div>

    <script src="/static/cookie.js"></script>
    <script src="/static/buckets.js"></script>
</div>
{% endblock page %}
