{% extends "twocolumn.html" %}

{% block header %}
<h2 id="bk_title"></h2>
{% endblock header %}
{% block column1 %}
<div>
    <h1 style="width:600px; font-size:larger; padding:3px; display:inline-block; margin-bottom:3px" id="head"></h1>
    <p id="des" style="margin-top:2px; color:darkgray; max-width:800px"></p>
</div>
<div id="status_box">
</div>
{% endblock column1 %}

{% block column2 %}
<div id="updateProfilediv">
    <h3>Update Bucket </h1>
    <label>Name</label>
    <input id="buck_name" style="margin-bottom:10px"></input><br/>
    <label for="vis">Public</label>
    <input type="checkbox" id="vis" style="margin-bottom:10px"/><br/>
    
    <label style="display:inline">Bucket Banner</label>
    <input type="file" id="newbanner" style="display:block; margin-bottom:10px" />
    
    <label style="display:inline">Bucket Tags</label>
    <input id="bk_tags" style="margin-bottom:10px"></input><br/>

    <label style="display:inline">Bucket Background</label>
    <input type="file" id="newbg" style="display:block; margin-bottom:10px" />

    <label style="display:inline">Description</label>
    <textarea id="newdes" style="display:block; background-color:black; color:white; margin-bottom:30px"></textarea>  
    <button style="background-color:lightgreen; color:black; border-radius:10px; padding:2px" onclick="save()">Update Bucket</button>
    <button onclick="del()">Delete Bucket</button>

</div>

<div>
    <form id="pg_create">
        <h3>Create Page</h3>
        <label for="pg_title">Title</label>
        <input id="pg_title" type="text"/>
        <button type="submit">Create</button>
    </form>
    <form id="bk_create">
        <h3>Create Bucket</h3>
        <label for="bkf_title">Title</label>
        <input id="bkf_title" type="text"/>
        <button type="submit">Create</button>
    </form>

    <p id="msg" style="color:red"></p>
</div>
{% endblock column2 %}

{% block scripts %}
<script>
    function get_bucket_id() {
        return "{{ id }}"
    }
</script>
<script src="/static/cookie.js"></script>
<script src="/static/forcelogin.js"></script>
<script src="/static/sbucket.js"></script>
{% endblock scripts %}
