{% extends "base.html" %}

{% block nav %}
{% endblock nav %}


{% block page %}
<div style="margin:10px">
    <h1>Login</h1>

    <form id="login">

        <div style="margin-bottom:10px">
            <label>Username</label>
            <input id="user">
        </div>
        <div style="margin-bottom:10px">
            <label>Password</label>
            <input id="pass" type="password">
        </div>
        <p id="msg" style="color:red"></p>
        <button type="submit">Login</button>
        
    </form>
</div>
<script src="/static/login.js"></script>

{% endblock page %}
