{% extends "twocolumn.html" %}

{% block nav %}
{% endblock nav %}

{% block page %}
<div style="display:flex; flex-direction:column; align-items:center">
    <div>
    <div id="status_box" style="display:flex; flex-direction: row">        
        <input type="text" spellcheck="true"  style="height:40px; width:400px; font-size:larger; padding:3px; margin-bottom:10px; margin-right:20px" id="pg_title"></textarea>
        <div style="display:flex; flex-direction: column; width:50px">
            <div style="display:flex; flex-direction: row; margin-right:10px">
                <label for="order" style="margin-right:10px">Order</label>
                <input type="number" id="order"  style="margin-bottom:5px;"/>
            </div>
            <div style="display:flex; flex-direction: row">
                <label for="vis" style="margin-right:10px">Public</label>
                <input type="checkbox" id="vis" style="margin-bottom:20px"/>
            </div>
        </div>
    </div>

    <textarea id="pg_content" spellcheck="true"></textarea>
</div>
</div>
{% endblock page %}

{% block scripts %}
<script>
    function get_bucket_id() {
        return "{{ id }}"
    }
    function get_pg_id() {
        return "{{ pid }}"
    }

    function back() {
        window.location.href = "/bucket/" + get_bucket_id()
    }
</script>

<script src="{{ tinymce_url }}"></script>
<script src="/static/cookie.js"></script>
<script src="/static/forcelogin.js"></script>
<script src="/static/typo.js"></script>
<script src="/static/page.js"></script>
<script src="/static/spellchecker.js"></script>

<script type="text/javascript">
    tinymce.init({
        selector: '#pg_content',
        height: 850,
        width: 800,
        toolbar: "fontfamily fontsize",
        branding: false,
        promotion: false,
        skin: (window.matchMedia("(prefers-color-scheme: dark)").matches ? "oxide-dark" : ""),
        content_css: (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : ""),
        content_style: "@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');p { margin: 0; }",
        menu: {
            file: { title: 'File', items: 'save delete back' },
            edit: { title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace' },
            view: { title: 'View', items: 'code revisionhistory | visualaid visualchars visualblocks | spellchecker | preview fullscreen | showcomments' },
            insert: { title: 'Insert', items: 'image link media addcomment pageembed codesample inserttable | math | charmap emoticons hr | pagebreak nonbreaking anchor tableofcontents | insertdatetime' },
            format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat | styles blocks fontfamily fontsize align lineheight | forecolor backcolor | language | removeformat' },
            tools: { title: 'Tools', items: ' spell-check-fast spell-check spell-single | wordcount clear-annotations | code ' },
            table: { title: 'Table', items: 'inserttable | cell row column | advtablesort | tableprops deletetable' },
            help: { title: 'Help', items: 'help' }
        },
        toolbar: "undo redo  | blocks fontfamily fontsize | bold italic underline forecolor backcolor | link image | checklist bullist numlist",
        font_family_formats:"Andale Mono=andale mono,times;\
                             Arial=arial,helvetica,sans-serif;\
                             Arial Black=arial black,avant garde; \
                             Book Antiqua=book antiqua,palatino; \
                             Comic Sans MS=comic sans ms,sans-serif;\
                             Courier New=courier new,courier;\
                             Georgia=georgia,palatino;\
                             Helvetica=helvetica;\
                             Impact=impact,chicago;\
                             Open Sans=open sans;\
                             Symbol=symbol;\
                             Tahoma=tahoma,arial,helvetica,sans-serif;\
                             Terminal=terminal,monaco;\
                             Times New Roman=times new roman,times;\
                             Trebuchet MS=trebuchet ms,geneva;\
                             Verdana=verdana,geneva;\
                             Webdings=webdings;\
                             Wingdings=wingdings,zapf dingbats",
        plugins: 'wordcount code',
        setup: function (editor) {
            let toggleState = false;

            editor.ui.registry.addMenuItem('save', {
                text: 'Save',
                onAction: () => save()
            });

            editor.ui.registry.addMenuItem('delete', {
                text: 'Delete',
                onAction: () => del()
            });

            editor.ui.registry.addMenuItem('spell-check-fast', {
                text: 'Spell Check',
                onAction: () => spellcheckBlob(true)
            });

            editor.ui.registry.addMenuItem('spell-check', {
                text: 'Spell Check Suggestions (Very Slow)',
                onAction: () => spellcheckBlob(false)
            });

            editor.ui.registry.addMenuItem('spell-single', {
                text: 'Spelling Suggest Word',
                onAction: () => suggestSingle()
            });

            editor.ui.registry.addMenuItem('back', {
                text: 'Back to Bucket',
                onAction: () => back()
            });



            editor.ui.registry.addMenuItem('clear-annotations', {
                text: 'Clear Annotations',
                onAction: () => clearAnnotations()
            });

            editor.on('init', function () {
                update();
            })
        }});
</script>      
{% endblock scripts %}