{% extends "twocolumn.html" %}

{% block column2 %}
    <div id="status_box">        
        <input type="text" spellcheck="true"  style="height:40px; width:600px; font-size:larger; padding:3px; margin-bottom:10px" id="pg_title"></textarea>
    </div>


    <label for="order">Order</label>
    <input type="number" id="order"  style="margin-bottom:5px"/><br />

    <label for="vis">Public</label>
    <input type="checkbox" id="vis" style="margin-bottom:20px"/><br/>


    <button onclick="save()">Save</button>
    <button onclick="del()">Delete</button>

{% endblock column2 %}

{% block column1 %}
<textarea id="pg_content" spellcheck="true"></textarea>
{% endblock column1 %}

{% block scripts %}
<script>
    function get_bucket_id() {
        return "{{ id }}"
    }
    function get_pg_id() {
        return "{{ pid }}"
    }

    function back() {
        window.location.href = "/bucket/" + get_bucket_id()
    }
</script>

<script src="{{ tinymce_url }}"></script>
<script src="/static/cookie.js"></script>
<script src="/static/forcelogin.js"></script>
<script src="/static/page.js"></script>

<script type="text/javascript">
    tinymce.init({
        selector: '#pg_content',
        height: 850,
        width: 800,
        branding: false,
        promotion: false,
        content_style: "p { margin: 0; }",
        plugins: 'wordcount',
        setup: function (editor) {
            editor.on('init', function () {
                update();
            })
        }});
</script>      
{% endblock scripts %}



