{% extends "twocolumn.html" %}
      
{% block page %}
<div style="display:flex; justify-content:center">
    <div id="page_content">
        <input type="text" spellcheck="true" style="height:40px; font-size:larger; padding:3px; width:100%; margin-bottom:10px" id="pg_title" readonly />
        <div class="backfront" style="margin-bottom:20px"></div>
        <div id="pg_content" spellcheck="true"></div>
        <div class="backfront" style="margin-top:40px"></div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    p {
        margin:0px;
        font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    }

    #page_content {
        padding:10px;
    }


    /* Styles for large devices (600px and above) */
    @media screen and (min-width: 768px) {
        #page_content {
            width:800px; 
            padding:0px;
        }
    }
</style>
{% endblock page %}

{% block scripts %}
<script>
    function get_bucket_id() {
        return "{{ bucketid }}"
    }
    function get_pg_id() {
        return "{{ pageid }}"
    }

    function get_username() {
        return "{{ username }}"
        console.log("{{ username }}")
    }

    function back() {
        window.location.href = "/web/{{ username }}/bucket/" + get_bucket_id()
    }
</script>

<script src="/static/cookie.js"></script>
<script src="/static/guestlogin.js"></script>
<script>
    un = "{{ username }}"
    if (sk === null) {sk = "-1"}
    console.log("Height: " + window.innerWidth);

</script>
<script src="/static/page.js"></script>
<script type="text/javascript">
    stick_text_to_normal_box()
</script>      
{% endblock scripts %}



