{% extends "base.html" %}

{% block page %}
<div style="margin:10px">
    <div style="margin-bottom:30px">
        <div id="status_box">
            <h2>Main buckets</h2>
        </div>
    </div>
    <script src="/static/cookie.js"></script>
    <script src="/static/guestlogin.js"></script>
    <script>
        un = "{{ username }}"
        sk = ""
        linkpfx = "/web/{{ username }}/bucket/{{ bucketid }}"
    </script>
    <script src="/static/buckets.js"></script>
</div>
{% endblock page %}
