{% extends "public_view.html" %}

{% block content %}
<div style="margin:10px">
    <h2>{{username}}'s Profile</h2>
    <img src="{{pfp}}" style="width:100px; height:100px; object-fit: cover" />
    <p style="color:darkgray">{{bio}}</p>
    <h3>{{username}}'s Top Content</h3>
    {% for item in buckets %}
    <li style="margin-bottom:5px; list-style-type: none">
        <a href="/b/{{item.id}}/" alt="{{item.name}}'s profile.">{{ item.name }}</a>
    </li>
{% endfor %}
<hr>
<a href="/">Return Home</a>
</div>
{% endblock content %}
