{% extends "public_view.html" %}

{% block content %}
<main style="display:flex; justify-content:center">
    <article id="page_content">
        <header>
            <h2 type="text" style=" font-size:2em; margin-top:0; border:0; margin-bottom: 5px; width:100%" id="pg_title">
                {{ pg_title }}
            </h2>
            <div class="backfront" style="margin-bottom:20px">
                {% if back %}
                    <a href="{{ back }}" style="margin-right:20px">Previous</a>
                {% endif %}
                <a href="{{ tbURL }}" style="margin-right:20px">Table of Content</a>
                {% if next %}
                    <a href="{{ next }}">Next</a>
                {% endif %}
            </div>
    
        </header>
        <div id="pg_content" .innerHTML="${{pg_cnt}}">
            {{pg_cnt | safe}}
        </div>
        <div class="backfront" style="margin-top:20px">
            {% if back %}
                <a href="{{ back }}" style="margin-right:20px">Previous</a>
            {% endif %}
            <a href="{{ tbURL }}" style="margin-right:20px">Table of Content</a>
            {% if next %}
                <a href="{{ next }}">Next</a>
            {% endif %}
        </div>
    </article>
</main>

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    p {
        margin:0px;
        font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    }

    #page_content {
        padding:10px;
    }

    /* Styles for large devices (600px and above) */
    @media screen and (min-width: 768px) {
        #page_content {
            width:800px; 
            padding:0px;
        }
    }
</style>
{% endblock content %}



