{% extends "base.html" %}

{% block page %}
<div>
    <input style="height:40px; width:600px; font-size:larger; padding:3px; margin-bottom:10px; display:inline-block" id="buck_name" readonly></input><br/>
</div>
<div id="status_box">
</div>
{% endblock page %}
{% block scripts %}
<script>
    function get_bucket_id() {
        return "{{ bucketid }}"
    }
    un = "{{ username }}"
    linkpfx = "/web/{{ username }}/bucket/"
</script>
<script src="/static/cookie.js"></script>
<script src="/static/guestlogin.js"></script>
<script src="/static/sbucket.js"></script>
{% endblock scripts %}
