{% extends "base.html" %}
{% block nav %}
{% endblock nav %}

{% block page %}
<div style="margin:10px">
    <h2>{{name}}</h2>
    {% for item in buckets %}
    <li style="margin-bottom:5px; list-style-type: none">
        <a href="/b/{{item.id}}/" alt="{{item.name}}'s content.">{{ item.name }}</a>
    </li>
{% endfor %}
{% for item in pages %}
<li style="margin-bottom:5px; list-style-type: none">
    <a href="/p/{{item.id}}/" alt="{{item.name}}'s profile.">{{ item.name }}</a>
</li>
{% endfor %}
<hr>
<a href="{{ backurl }}">Return Up.</a>
</div>
{% endblock page %}
