{% extends "twocolumn.html" %}

{% block header %}
<h2 id="bk_title"></h2>
{% endblock header %}

{% block column1 %}
<div>
    <input style="height:40px; width:600px; font-size:larger; padding:3px; margin-bottom:10px; display:inline-block" id="buck_name"></input><br/>
    <label for="vis">Public</label>
    <input type="checkbox" id="vis" style="margin-bottom:10px"/><br/>
    <button onclick="save()">Update Bucket</button>
    <button onclick="del()">Delete Bucket</button>
</div>
<div id="status_box">
</div>
{% endblock column1 %}

{% block column2 %}
<div>
    <form id="pg_create">
        <h3>Create Page</h3>
        <label for="pg_title">Title</label>
        <input id="pg_title" type="text"/>
        <button type="submit">Create</button>
    </form>
    <form id="bk_create">
        <h3>Create Bucket</h3>
        <label for="bkf_title">Title</label>
        <input id="bkf_title" type="text"/>
        <button type="submit">Create</button>
    </form>

    <p id="msg" style="color:red"></p>
</div>
{% endblock column2 %}

{% block scripts %}
<script>
    function get_bucket_id() {
        return "{{ id }}"
    }
</script>
<script src="/static/cookie.js"></script>
<script src="/static/forcelogin.js"></script>
<script src="/static/sbucket.js"></script>
{% endblock scripts %}
